<div class="grid grid-cols-1 md:grid-cols-2 p-9 md:p-24 gap-5">
  <section hlmCard>
    <div hlmCardHeader>
      <h3 hlmCardTitle class="font-bold text-4xl">Lights</h3>
    </div>
    <div hlmCardContent class="flex justify-center items-center h-52">
      <hlm-icon class="w-28 h-auto" name="lucideLightbulb" />
    </div>
  </section>
  <section hlmCard>
    <div hlmCardHeader>
      <h3 hlmCardTitle class="font-bold text-4xl">Shutters</h3>
    </div>
    <div hlmCardContent class="flex justify-center items-center h-52">
      <div class="progress">
        <div class="progress-value" style="--progress-width: 20%;"></div>
      </div>
    </div>
  </section>
  <section hlmCard class="col-span-1 md:col-span-2 h-96">
    <div hlmCardHeader>
      <h3 hlmCardTitle class="font-bold text-4xl">Statistics - Room</h3>
    </div>
    <div hlmCardContent class="flex justify-center items-center h-52">
      <div class="progress">
        <div class="progress-value" style="--progress-width: 20%;"></div>
      </div>
    </div>
  </section>
  <section hlmCard class="col-span-1 md:col-span-2 h-96">
    <div hlmCardHeader>
      <h3 hlmCardTitle class="font-bold text-4xl">Statistics - Server</h3>
    </div>
    <div hlmCardContent class="flex justify-center items-center h-52">
      <div class="progress">
        <div class="progress-value" style="--progress-width: 20%;"></div>
      </div>
    </div>
  </section>
</div>
